<%= form_with(model: reloj, local: true) do |form| %>

  <div class="field">
    <%= form.label :minuto %>
    <%= form.number_field :minuto %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
