<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3">
			<%= render '/home/botones_generales' %>
	</div>
	<div class="col-md-6">
	<div class="col-md-1"></div>
			<%= render '/home/resultados' %>
	</div>
</div>
