<br>
<center>
<h1>
Unefa - Vargas
<br>
</h1>
</center>
<br>
<h5>
  <div class="row">
    <div class="col-md-6" align="right">
        Carrera
    </div>
    <div class="col-md-6" align="left">
        Ingeniería de Sistemas
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" align="right">
        Sección
    </div>
    <div class="col-md-6" align="left">
        09S-2622-N1
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" align="right">
        Materia
    </div>
    <div class="col-md-6" align="left">
        Auditoría de Sistemas
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" align="right">
        Código
    </div>
    <div class="col-md-6" align="left">
        SYC-32814
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" align="right">
        Profesor
    </div>
    <div class="col-md-6" align="left">
        Zulma Olivero
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6" align="right">
        Alumno
    </div>
    <div class="col-md-6" align="left">
        Rafael Rodríguez García
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" align="right">
        Cédula
    </div>
    <div class="col-md-6" align="left">
        7.991.459
    </div>
  </div>
</h5>
<br>
