// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.verde {
	color: green;
}

rojo {
	color: red;
}

gris {
	color: gray;
}

th, td {
	text-align: center !important; 
	vertical-align: middle !important;
}

.ancho {
	width: 30%;
}

.letra-negra {
	color: black;
}

.largo {
	width: 200px;
}

.datatable tr {
	cursor: pointer;
}

p,li {
  color: green;
  font-size: 16px !important;
  line-height: 24px !important;
  text-align: justify;
  text-justify: inter-word;
  // fon
}

azul {
  color: blue;
}

a {
  font-size: 20px !important;
  color: rgb(79, 0, 182) !important;
  &:hover {
    color: #FFF !important;
    background: gray !important;
}

}