<%= form_with(model: @par, local: true) do |form| %>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Nuevo Par</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="field">
						<%= render 'layouts/mensajes' %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= form.text_field :nombre, placeholder: "Escriba un par" %>
					</div>
				</td>
				<td>
					<div class="">
						<%= form.button "Guardar", class: "btn btn-outline-warning letra-negra btn-sm mb-3 mx-1" %>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

<% end %>
